footer {
  width: 100%;
  height: 8rem;
  background-color: #f8f9fa;
  margin-top: 2rem;
}

.footer__container {
  /* max-width: 1440px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.footer-text {
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-bottom: 0.2rem;}

.footer-brand {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #3c6ca8;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}