.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;  
}

.container-fluid {
  max-width: 1440px; }

.navbar-toggler {
  margin-left: 1.5rem; }

.nav-item a {
  font-size: 1.1rem;
  font-weight: 600;}

.nav-link {
  letter-spacing: 1px;
}

.navbar-brand {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #3c6ca8;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.navbar-collapse {
  background-color: #f8f9fa;
}

.collapse {
  background-color: #f8f9fa;
}