<!-- ------------------------------------------ -->
<div class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__container__title">
      <h2 class="title">Iris</h2>
      <h2 class="title">Colores</h2>
      <button class="btn-title" (click)="obtenerColores()">Generar colores</button>
    </div>
    <div class="hero__container__colors">
        @for (color of randomColors; track color.name) {

      <a class="swatch" [style.backgroundColor]="'#' + color.hex" [routerLink]="['/detalles', color.name]">
        <span [style.color]="color.theme === 'dark' ? '#fff' : '#000'" class="hex">#{{color.hex}}</span>               
      </a>      
      }

    </div>
  </div>
</div>
