.btn-title {
  color: white;
  background-color: #3c6ca8;;
  border:none;
  padding:14px 28px;
  border-radius:40px;
  font-weight:700;
  font-size: 1.2rem;
  cursor:pointer;
  box-shadow: 0 6px 18px rgba(59,111,156,0.12);
  transition: transform .12s ease, box-shadow .12s ease;
  text-align: center;
}

.title {
  font-size: 50px;
  letter-spacing: 2px;
  color: #3c6ca8;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}




 