<div class="contenidoEntero">
    <div>
        <h2 class="titulo">¡Contactanos!</h2>
        
    </div>
    <div class="contenidoFormulario">
        <form [formGroup]="miFormulario" (ngSubmit)="enviar()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-input" id="nombre" formControlName="nombre"
                    [ngClass]="{'is-invalid': mostrarErrores('nombre', 'required') || mostrarErrores('nombre', 'minlength')}"
                    autocomplete="off">
            </div>
            @if (mostrarErrores('nombre', 'required')) {
            <div class="textoAdvertencia">Nombre requerido</div>
            }
            @if (mostrarErrores('nombre', 'minlength')) {
            <div class="textoAdvertencia">Mínimo tres caracteres</div>
            }
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-input" id="apellido" formControlName="apellido"
                    [ngClass]="{'is-invalid': mostrarErrores('apellido', 'required') || mostrarErrores('apellido', 'minlength')}"
                    autocomplete="off">
            </div>
            @if (mostrarErrores('apellido', 'required')) {
            <div class="textoAdvertencia">Apellido requerido</div>
            }

            @if (mostrarErrores('apellido', 'minlength')) {
            <div class="textoAdvertencia">Mínimo tres caracteres</div>
            }
            <!-- -------------------- -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-input" id="email" formControlName="email"
                    [ngClass]="{'is-invalid': mostrarErrores('email', 'required') || mostrarErrores('email', 'email')}"
                    autocomplete="off" />
                @if (mostrarErrores('email', 'required')) {
                <div class="textoAdvertencia">Email requerido</div>
                }
                @if (mostrarErrores('email', 'email')) {
                <div class="textoAdvertencia">Formato de email inválido</div>
                }
            </div>


            <!-- ------------------------ -->
            <!-- <div class="mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-input" id="edad" formControlName="edad" [ngClass]="{
                'is-invalid': mostrarErrores('edad', 'required') || mostrarErrores('edad', 'min')}" autocomplete="off"
                    min="18">
            </div>
            @if (mostrarErrores('edad', 'required')) {
            <div class="textoAdvertencia">Edad requerida</div>
            }
            @if (mostrarErrores('edad', 'min')) {
            <div class="textoAdvertencia">Tiene que tener al menos 18 años</div>
            } -->            
            <!-- ---------------- -->
            <div class="mb-3">
                <label for="asunto" class="form-label">Asunto</label>
                <input type="text" class="form-input" id="asunto" formControlName="asunto"
                    [ngClass]="{'is-invalid': mostrarErrores('asunto', 'required') || mostrarErrores('asunto', 'minlength')}"
                    autocomplete="off" />
                @if (mostrarErrores('asunto', 'required')) {
                <div class="text-danger">Asunto requerido</div>
                }
                @if (mostrarErrores('asunto', 'minlength')) {
                <div class="text-danger">Mínimo tres caracteres</div>
                }
            </div>

            <!-- Mensaje -->
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-input" id="mensaje" rows="4" formControlName="mensaje"
                    [ngClass]="{'is-invalid': mostrarErrores('mensaje', 'required') || mostrarErrores('mensaje', 'minlength')}"></textarea>
                @if (mostrarErrores('mensaje', 'required')) {
                <div class="textoAdvertencia">Mensaje requerido</div>
                }
                @if (mostrarErrores('mensaje', 'minlength')) {
                <div class="textoAdvertencia">Debe tener al menos 10 caracteres</div>
                }
             </div>
                <!-- ---------------------- -->
                <button type="submit" class="botonEnviar">Enviar</button>
        </form>
    </div>