/* contenido entero */
.contenidoEntero {
  background: linear-gradient(135deg, #f0f6ff, #e6eef9);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* titulo del formulario */

.titulo{
  font-size: 48px;
  font-weight: 800;
  color: #3c6ca8;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

/* todo el formulario, diseño e interaccion */
.contenidoFormulario {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 700px;
  padding: 40px 50px;
  transition: 0.5s;
}
.contenidoFormulario:hover {
  transform: scale(1.05,1.05);
}

/* campos que tendra el formulario e inputs */
.form-label { /*titulos de los label*/
  font-weight: 600;
  color: #3c6ca8;
}
/*imputs diseño*/
.form-input,.form-select{
  border-radius: 10px;
  border: 1.6px solid #d4dbe8;
  padding: 12px 14px;
  font-size: 1rem;
  width: 100%;
  outline: none;
}

/* textos de advertencia */
.textoAdvertencia {
  font-size: 0.9rem;
  color: red;
  margin-bottom: 8px;
  font-weight: 600;
}

/* boton para enviar formulario */
.botonEnviar {
  color: white;
  background-color: #3c6ca8;
  border: none;
  padding: 14px 28px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
/* efectos al boton */
.botonEnviar:hover {
  background-color: #325c91;
  transform: scale(1.05);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.5);
}

/* ===== INPUT INVALIDO ===== */
.is-invalid {
  border-color: red;
}
