.contenedor {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 8px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color-card {
  width: 100px;
  height: 100px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}