
/*Todo el contenido*/
.detallesCajaContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  max-width: 600px;
  margin: 20px auto;
}
/*La caja que mostrara el color*/
.cajaColor {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.informacionDeColor {
  text-align: center;
  color: #333;
}
.nombreColor{
    margin-top: 20px;
}

.botonesContenido {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.boton {
  background-color: #1a237e;
  color: #fff;
  border-radius: 10px;
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.boton:hover {
  background-color: #3949ab;
  transform: scale(1.05);
}
