.convertidor-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 2rem;
  height: auto;
  padding-bottom: 2rem;
}

.formatos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.formato h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.campo {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: 230px;
  font-family: monospace;
  font-size: 1rem;
  justify-content: flex-start;
}

.color-boton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #333;
}

input {
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1rem;
  width: 100px;
}

.title {
  font-size: 60px;
  letter-spacing: 2px;
  color: #3c6ca8;
  margin-bottom: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
