.paleta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.paleta__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* ------------------------- */

.paletaContenedor {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 1068px) {
  .paletaContenedor{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.btn-title {
  color: white;
  background-color: #3c6ca8;;
  border:none;
  padding:14px 28px;
  border-radius:40px;
  font-weight:700;
  font-size: 1.2rem;
  cursor:pointer;
  box-shadow: 0 6px 18px rgba(59,111,156,0.12);
  transition: transform .12s ease, box-shadow .12s ease;
  text-align: center;
}

.title {
  font-size: 60px;
  letter-spacing: 2px;
  color: #3c6ca8;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.swatch{
  display:flex;
  align-items:center;
  justify-content:center;
  width: calc(100vh / 6);
  min-height:calc(100vh / 3);
  text-shadow: 2px 4px 9px #343a40;
  cursor: pointer;
}

.hex{
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
}